.profile {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    object-fit:cover;
    object-position: 25%;
    position: relative;
    top: 1rem;
    left: 0.5rem;
}

.link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #6A6A6A;
    cursor: pointer;
}

.contributor{
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: calc( (100vw - 20rem)/2);
    width: 10rem;
    height: 100vh; //40rem
    // border: 2px solid rgba(19, 24, 44, 0.1);
    // box-shadow: 0px 5px 8px rgba(19, 24, 44, 0.1);
    background-color: #FFFFFF;

    &__name{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        color: #6A6A6A;
        margin: 1.5rem 1rem 1rem 0.5rem;
    }

    &__item{
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        color: #6A6A6A;
        padding: 1.25rem 1rem 1rem 0.5rem;

        &--active{
            display: flex;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;    
            font-weight: 600;
            font-size: 0.9rem;    
            color: #000000;
            margin: 1rem 1rem 0.75rem 0.5rem;
        }

        &:hover{
            color: #EF3123;
        }
    }

    &__icon{
        width: 1.25rem;
        margin-right: 0.25rem;

        &--active{
            width: 1.25rem;
            margin-right: 0.25rem;
            padding: 0.25rem 0 0.25rem 0.5rem;
            border-left: 2px solid #EF3123;    
        }
    }
}