.App{
    background-color: #CECDCD;
}

.test {
    width: auto;
    border-radius: 5px;
    min-height: 568px;
    max-height: auto;
    color: #fff;
    background: linear-gradient(-45deg, #f3734c, #f01cc2, #22b4ee, #2ef15f);
    background-size: 600% 600%;
    -webkit-animation: Gradient 30s linear infinite;
    -moz-animation: Gradient 30s linear infinite;
    animation: Gradient 30s linear infinite;
    }
  
  .paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 0%
    }
  50% {
  background-position: 100% 100%
  }
  100% {
  background-position: 0% 0%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 0%
    }
  50% {
  background-position: 100% 100%
  }
  100% {
  background-position: 0% 0%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 0%
    }
  50% {
  background-position: 100% 100%
  }
  100% {
  background-position: 0% 0%
  }
  }
